/***************
    1.BASIC
*****************/
@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Saira', sans-serif;
    background: #000;
}

/***************
     1.HOME
*****************/
.home{
    width: 100%;
    height: 100vh;
}

.home .social{
    position: absolute;
    right: 0px;
    top: 13%;
    display: block;
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    z-index: 999999;
}

.home .social ul li{
    transform: rotate(-90deg);
    margin-top: 120px;
    cursor: pointer;
    z-index: 999999;
}

.home .social ul li:hover{
    opacity: 0.8;
}

.home .social ul li a{
    text-decoration: none;
    color: #fff;
}

.home .social ul li a:hover{
     opacity: 0.8;
}

.home .kapsayici{
    position: relative;
    width: 100%;
    height: 100%;
}

.home .intro-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: -1;
    color: #fff;
    font-family: 'Saira', sans-serif;
    letter-spacing: 10px;
    top: 20%;
    font-weight: 700;
}

.home .intro-text h1{
    font-size: 290px;
    font-weight: 700;
}

.home .bg-image{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
    position: fixed;
    background: url("https://images.pexels.com/photos/1055613/pexels-photo-1055613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .man{
    position: absolute;
    top: 5vh;
    left: 15%;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.home .man img{
    width: 30%;
}

.home .box{
    height: 80px;
    background: #FFFFF0;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    transition: .7 all;
    
}

.home .box h4{
    font-size: 18px;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 99999999;
    
}

.reverse-display{
   display: none;
    background: linear-gradient(to right, #000 10%, #fff 50%, #696969 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
    color: #000;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2.5s linear infinite;
}

@keyframes textclip {
  
  to {background-position: 200% center;}
}

.home .box button{
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 10px;
    transition: 1s all;
    
}

.home .box button:hover{
    opacity: 0.8;
    cursor: pointer;
    color: #4b5320;
    
}

.home .box button:focus{
    outline: none;
}

.left {
    width: 100px;
    height: 100px;
    margin: 25px 30px;
}

.left .logo{
    width: 100px;
    height: 100px;
}

nav{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.navicon-homePage div{
    height: 4px;
    background-color: #fff;
    margin: 5px 30px;
    border-radius: 25px;
    cursor: pointer;
   
    
}

.navicon-homepage{
    width: 30px;
    display: block;
    margin: 2em 0 0 1em;
    height: auto;
  
}

.one{
    width: 30px;
}

.two{
    width: 20px;
}

.three{
    width: 25px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.overlay a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

.grid{
    display: none;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(24,1fr);
    grid-column: 1/span 12;
    grid-row: 1/span 12;
    width: 100%;
    height: 100%;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    position: absolute;
    top: 0;

}

.fotos{
    grid-column: 3/span 4;
    grid-row: 3/span 8;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.first-foto{
    height: 600px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/08/free-mobile-design-iphone-showcase-mockup-psd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-2{
    grid-column: 7/span 2;
    grid-row: 3/span 5;
    width: 100%;
    height: 00%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.second-foto{
    height: 400px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/08/free-box-shown-top-mockup-psd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-3{
    grid-column: 7/span 2;
    grid-row: 8/span 3;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.third-foto{
    height: 300px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/08/free-soda-can-mockup-psd-1000x674.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-4{
    grid-column: 9/span 2;
    grid-row: 3/span 8;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.fourth-foto{
    height: 600px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/07/free-paper-shopping-bag-mockup-psd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-5{
    grid-column: 3/span 4;
    grid-row: 11/span 8;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.fifth-foto{
    height: 600px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/07/free-poster-in-dining-room-mockup-psd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-6{
    grid-column: 7/span 2;
    grid-row: 11/span 8;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.sixth-foto{
    height: 600px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/07/free-clay-style-smartphone-mockup-psd-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fotos-7{
    grid-column: 9/span 2;
    grid-row: 11/span 8;
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: relative;
    transform-origin: top; 
}

.seventh-foto{
    height: 600px;
    background: url("https://www.mockupworld.co/wp-content/uploads/edd/2019/07/free-sample-mockup-set-psd-1000x750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.foto-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    transition: .7s all;
}

.foto-wrapper:hover{
    transform: scale(1.1);
}

/***************
     2.CONTACT
*****************/
.contact{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.distortion{
    width: 100%;
    height: 100%;
    align-self: center;
}

.contact-intro{
    align-self: center;
    width: 100%;
    padding-left: 60px;
}

.contact-intro h2{
    font-size: 50px;
    font-weight:500; 
}

.contact-intro p{
    font-size: 25px;
}

.navicon-dark div{
    height: 4px;
    background-color: #000;
    margin: 5px 30px;
    border-radius: 25px;
    cursor: pointer;
   
    
}
/***************
     2.RESUME
*****************/
.resume-body{
    overflow-y: visible;
}
.resume-section{
    width: 100%;
    height: 100%;
}

.inclusive{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.resume-title{
    color: #fff;
    font-size: 60px;
    position: relative;
    top: 70%;
    left: 30%;
    font-weight: 600;
}

.resume-images{
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
    top: -10%;
}

.resume-foto-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.resume-small-card{
            position: absolute;
            height: 100%;
            overflow-x: hidden;
            z-index: 0;
            top: 15%;
            left: 10%;
            overflow-y: hidden;
            color: #fff;
    
}


.resume-section .download{
    width: 100%;
    height: 500px;
    background: transparent;
    text-align: center;
    box-shadow: 0 0 10px #333;
    border-radius: 20px;
    filter: drop-shadow(0 0 30px #333);
    
}

.resume-section .download h3{
    font-weight: 500;
}

.resume-section .download .part-2{
    background: transparent;
    position: relative;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.resume-section .download .part-2 a{
    color: #000;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    position: relative;
    top: 35%;
    padding: 10px;
    background:#C0E3E7;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.resume-section .download .part-2 a:hover{
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(59, 43, 91, 0.7);

}

.resume-section .download img{
    border-radius: 50%;
    padding: 20px;
}

.resume-section .download div ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.resume-section .download div ul li a{
    color: #fff;
}

.resume-landing{
    display: flex;
    justify-content: space-around;
    height: 60vh;
      
}

.blur{
    width: 120%;
    margin-left: -10%;
    height: 250px;
    background-color: #030000;
    position: absolute;
    bottom: -180px;
    filter: blur(40px);
    z-index: 999;
}



.resume-section .col-lg-12 .talents{
   width: 100%;
    background: #000;
    height: auto;
    color: #fff;
    
}

.resume-section .col-lg-12 .talents .entrance{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .entrance h5{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    
}

.resume-section .col-lg-12 .talents .entrance p{
    font-size: 20px;
    
}

.resume-section .col-lg-12 .talents .entrance button{
    background: transparent;
    border: 2px solid #e8e8e8;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    border-radius:30px;
    font-weight: 600;
    color: #fff;
}

.resume-section .col-lg-12 .talents .entrance button:active{
    outline: none;
    border: none;
}

.resume-section .col-lg-12 .talents .entrance button:focus{
    outline:0;
}

.resume-section .col-lg-12 .talents .information{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .information .personal{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.resume-section .col-lg-12 .talents .information .row .col-lg-6 ul li{
    margin-top: 25px;
    font-size: 18px;
}

.bg-circ {
background: #fff !important;
border: none !important;
}

.progress-bar-bg {
background: #fff !important;

}

.resume-section .col-lg-12 .talents .information .row .col-lg-6 ul li strong{
    display: block;
}

.resume-section .col-lg-12 .talents .information .row .col-lg-6 .english ul li{
    display: inline-block;
}

.resume-section .col-lg-12 .talents .information .row .col-lg-6 .english ul li div{
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

.langue{
    font-size: 18px;
}

.langue-level{
    margin-left: 10px;
}

.skill-title{
    margin-bottom: 60px;
}

.resume-section .col-lg-12 .talents .skills{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .skills .col-lg-6 p{
    font-size: 32px;
    font-weight: 500;
}

.resume-section .col-lg-12 .talents .skills .col-lg-6 div p{
    font-size: 18px;
}

.resume-section .col-lg-12 .talents .skills .col-lg-6 .progress{
    height: 5px;
    background: #6c757d;
}

svg path {
  will-change: auto;
  stroke-width: 7px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.resume-section .col-lg-12 .talents .skills .col-lg-6 .col-lg-4 span{
    position: absolute;
    top: 30%;
    left: 35%;
}

.resume-section .col-lg-12 .talents .skills .col-lg-6 .col-lg-4 p{
    position: relative;
    left: 18%;
}

.resume-section .col-lg-12 .talents .experience{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .experience h4{
    color:#6c757d;
    font-size: 32px;
    font-weight: 300;
}

.resume-section .col-lg-12 .talents .experience ul li{
    border-left: 2px solid #C0E3E7;
    padding: 10px;
}

.resume-section .col-lg-12 .talents .experience .icon{
background: #C0E3E7;
height: 10px;
text-align: center;
transform:rotate(45deg);
width:10px;
margin: 10px 0px 10px 0px;
position: relative;
left: -4px;

}

.resume-section .col-lg-12 .talents .experience .timeline{
    margin-top: 60px;
}

.resume-section .col-lg-12 .talents .experience .timeline .job{
    font-size: 18px;
}

.resume-section .col-lg-12 .talents .experience .timeline .company{
    color: #6c757d;
}

.resume-section .col-lg-12 .talents .experience .timeline .date{
    color: #fff;
    background: #6c757d;
    display: inline-block;
    padding: 5px 12px 5px 12px;
    font-size: 15px;
    cursor: pointer;
    transition: all 1sn ease;
}

.resume-section .col-lg-12 .talents .experience .timeline .date:hover{
    background: #000;
}

.resume-section .col-lg-12 .talents .education{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .references{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .references .ref-1 .col-lg-2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.resume-section .col-lg-12 .talents .references .ref-1 {
    padding: 40px;
}

.resume-section .col-lg-12 .talents .interest{
    padding: 5%;
}

.resume-section .col-lg-12 .talents .interest .col-lg-12 p i{
    color:#C0E3E7; 
    font-size: 25px;
}

.resume-section .col-lg-12 .talents .interest .col-lg-12 p{
    font-size: 18px;
    padding-top: 10px;
}

.resume-section .col-lg-12 .talents .interest .col-lg-12 p span{
    margin-left: 10px;
}






